* {
    margin: 0;
}

.flex-container {
    display: flex;
    height: 650px;
}

div {
    min-height: 100px;
    min-width: 50px;
    width: 100%;
}

.grey-head {
    background-color: grey;
}

.white {
    background-color: white;
    height: 100%;
}

.black {
    background-color: black;
}

.lightgrey {
    background-color: lightgrey;
    width: 20%;
}
